// @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100;400&display=swap');

$textColor:'#8d8d8d';

@font-face {
    font-family: "Kantumruy Pro";
    src: local("Kantumruy Pro"),
      url("./../fonts/KantumruyPro-Regular.ttf") format("opentype");
  }