


//Iphones
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    
    .asset-card {
        position: relative;
        border-radius: 15px;
        height: 430px;
        width: 98%;
        left: 1%;
        border: 2px solid grey;
        margin-left: 0px;
        margin-bottom: 0px;
  
  
        .preview {
            object-fit: scale-down;
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }
  
        .name {
            position: relative;
            top: 5px;
            font-size: 19px;
            font-weight: 400;
            font-family: 'Kantumruy Pro';
            letter-spacing: -0.5px;
            color: rgb(109, 108, 108);
            margin-bottom: 50px;
            text-align: start;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
        }
      }
  
}




/* ----------- iPhone SE ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-height: 568px) 
and (-webkit-min-device-pixel-ratio: 2) 
and (orientation: portrait) {
        

    .asset-card {
        position: relative;
        border-radius: 15px;
        height: 430px;
        width: 98%;
        left: 1%;
        border: 2px solid grey;
        margin-left: 0px;
        margin-bottom: 0px;
  
  
        .preview {
            object-fit: scale-down;
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }
  
        .name {
            position: relative;
            top: 5px;
            font-size: 19px;
            font-weight: 400;
            font-family: 'Kantumruy Pro';
            letter-spacing: -0.5px;
            color: rgb(109, 108, 108);
            margin-bottom: 50px;
            text-align: start;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
        }
      }
}




//Surface Pro
// Medium devices (tablets, less than 992px)
@media only screen and (height: 1368px) 
and (width: 912px) 
and (-webkit-min-device-pixel-ratio: 2) {


}



 //tablet
// Medium devices (tablets, less than 992px)
@media only screen 
and (min-width: 590px) 
and (-webkit-min-device-pixel-ratio: 2) {
}





//Ipad
// Medium devices (tablets, less than 992px)
@media only screen 
and (min-width: 768px) 
and (-webkit-min-device-pixel-ratio: 2) {
 

}



/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
and (min-width: 1024px) 
and  (max-device-width: 1024px)
and (max-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 1.5) {


    .asset-card {
        position: relative;
        border-radius: 15px;
        height: 450px;
        width: 450px;
        border: 2px solid grey;
        margin-left: 15px;
      
      
        .preview {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }
      
        .name {
            position: relative;
            top: 5px;
            font-size: 22px;
            font-weight: 400;
            font-family: 'Kantumruy Pro';
            letter-spacing: -0.5px;
            color: rgb(109, 108, 108);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
        }
      }
}




/* Mini Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px){
      

    .asset-card {
        position: relative;
        border-radius: 15px;
        height: 450px;
        width: 450px;
        border: 2px solid grey;
        margin-left: 15px;
    
    
        .preview {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }
    
        .name {
            position: relative;
            top: 5px;
            font-size: 22px;
            font-weight: 400;
            font-family: 'Kantumruy Pro';
            letter-spacing: -0.5px;
            color: rgb(109, 108, 108);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
        }
      }

}




/* Mini 2 Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1366px) {

    .asset-card {
        position: relative;
        border-radius: 15px;
        height: 450px;
        width: 450px;
        border: 2px solid grey;
        margin-left: 30px;
      
      
        .preview {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }
      
        .name {
            position: relative;
            top: 5px;
            font-size: 22px;
            font-weight: 400;
            font-family: 'Kantumruy Pro';
            letter-spacing: -0.5px;
            color: rgb(109, 108, 108);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
        }
      }

}



//Ipad Air
// Medium devices (tablets, less than 992px)
@media only screen 
and (min-width: 575px) and (max-width: 975px) 
and (-webkit-min-device-pixel-ratio: 2) {

    .asset-card {
        position: relative;
        border-radius: 15px;
        height: 350px;
        width: 350px;
        border: 2px solid grey;
        margin-left: 5px;
    
    
        .preview {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }
    
        .name {
            position: relative;
            top: 5px;
            font-size: 22px;
            font-weight: 400;
            font-family: 'Kantumruy Pro';
            letter-spacing: -0.5px;
            color: rgb(109, 108, 108);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
        }
      }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1025px) {
 
.asset-card {
    position: relative;
    border-radius: 15px;
    height: 450px;
    width: 450px;
    border: 2px solid grey;
    margin-left: 30px;
  
  
    .preview {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
  
    .name {
        position: relative;
        top: 5px;
        font-size: 22px;
        font-weight: 400;
        font-family: 'Kantumruy Pro';
        letter-spacing: -0.5px;
        color: rgb(109, 108, 108);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
  }

}




/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width:  1290px) {

    .asset-card {
        position: relative;
        border-radius: 15px;
        height: 450px;
        width: 450px;
        border: 2px solid grey;
        margin-left: 30px;
      

        .preview {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }

        .name {
            position: relative;
            top: 5px;
            font-size: 22px;
            font-weight: 400;
            font-family: 'Kantumruy Pro';
            letter-spacing: -0.5px;
            color: rgb(109, 108, 108);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
        }
      }
}



